* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: darkblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.link {
  display: flex;
}

a {
  display: block;
  color: white;
  margin: 0 20px;
  text-decoration: none;
}

a:hover {
  color: rgb(182, 182, 182);
}
